body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    margin: 3rem;
    box-sizing: border-box;
}

.car {
    display:block;
    margin:auto;
    width: 300px;
    position: relative;
}

.ribbon {
    position: absolute;
    top: 55%;
    left: 53%;
    width: 100px;
}